<h3>Add a comment:</h3>

<% @article.comments.each do |comment| %>  
  <p><%= comment.content %></p>  
  <p><%= time_ago_in_words comment.created_at %> ago </p>  
<% end %>  
<!-- sentence IF is for test -->

<%= form_for([@article, @article.comments.build]) do |f| %>
<p>
  <%= f.label :user %><br>
  <%= f.text_field :user %>
</p>
  <p><%= f.text_area :content, :size => '40x10' %> </p>
  <p><%= f.submit "Post Comment" %> </p>  
  
<% end %>

