<div class="row-fluid padding-set">
  <div class="span2">
  </div>

  <div class="span6">
    <%= render "detail" %>
    <%= link_to 'Back', articles_path %>
    </br>
    <%= render "tips" %>
    </br>
    
    <%= render "comments_new" %>
    <%= render "comments_list" %>
  </div> <!-- /.span6 -->

  <div class="span4">
    <%= render "quotes" %>
  </div>

</div>


