<p>
  物资需求详细情况
</p>

<br>
          <!-- <h3>
            发布物资需求 <small class="text-danger"> <em>为了您的安全，请如实填写下面信息</em></small>
          </h3> -->

          <h4>
            <%= @article.name %>            
          </h4>

          <dl>
            <dt>求助时间:</dt> 
            <dd><%= @article.created_at %></dd>
          </br>
          <dt>
            求助对象: 
          </dt>
          <dd>
            <%= @article.recipient %>
          </dd>
          <br>
          <dt>
            需要物资:
          </dt>
          <dd>
            
            <%= @article.tag %>
          </dd>
          <br>
          <dt>
            邮递地址:
          </dt>
          <dd>

            <%= @article.location %>
            <small>（仅邮政）</small>
          </dd>
        </dl>

        <blockquote>
          <p class="text-primary"><strong>需要：</strong>

            <%= @article.detail%>
          </p>
        </blockquote>

<!-- 
        <div class="padding">
          <br>
        </div>
        <div>
        </div> -->

        <div class="padding">

          <p>
          <%= @article.context %>

          </p>

  </div>