<!DOCTYPE html>
<html>
<head>
  <title>Xiaotaiyang</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>


  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
  <%= stylesheet_link_tag    "flat-ui", :media => "all" %>

  <%= csrf_meta_tags %>
</head>

<body>
<%= render "layouts/nav" %>
	<%= yield %>


  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "flat-ui.min" %>
</body>

</html>
